/* 여기에 스타일을 구현해 주세요 */
body {
  width: 100vw;
  height: 100vh;
}

.title {
  width: fit-content;
  font-size: 15px;
  padding: 5px;
  border-radius: 2px;
  background-color: #dbdbdb;
  font-weight: normal;
}

.board {
  width: 100%;
  height: 70vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 336px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.avatar-wrapper {
  position: relative;
  float: left;
  margin: 10px;
  width: 64px;
  height: 64px;
}

.avatar-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.avatar-status {
  position: absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #fff;
}

.avatar-status.on {
  background-color: #4cfe88;
}

.avatar-status.off {
  background-color: #dbdbdb;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
