/* 기본 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --basic-font-size: 1rem;
  --basic-color: #121212;
  --focus-color: #24388d;
  --green: #03cf5d;
  --error-color: #e53935;
  --border-color: #dadada;
}

/* 스크린 리더  */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 헤더 */
#header {
  display: flex;
  justify-content: center;
  margin-block: 6.25rem 3.125rem;
}

#logo {
  width: 14.375rem;
  .logo-group {
    fill: #03c75a;
    fill-rule: evenodd;
  }
}

/* 메인 */
#main {
  color: var(--basic-color);
  font-size: var(--basic-font-size);
  display: flex;
  justify-content: center;
}

.login-form {
  width: 100%;
  padding-inline: 1.25rem;
}

/* 입력 폼 영역 */
.id-area,
.password-area {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 2.8125rem;
  padding-inline: 1.25rem;
  margin-block-start: 0.625rem;
  border: 1px solid var(--border-color);
  background: #fff;

  &:focus {
    outline: none;
    border-color: var(--green);
    background: #e9f0fd;
    color: var(--focus-color);
  }

  &:user-invalid + .error-msg {
    display: block;
  }
}

.error-msg {
  display: none;
  color: var(--error-color);
  font-size: 0.875rem;
  padding-block: 0.3125rem 0;
  padding-inline-start: 1.25rem;
}

/* 로그인 버튼 */
.login-btn {
  width: 100%;
  cursor: pointer;
  font-size: var(--basic-font-size);
  line-height: 2.8125rem;
  color: #fff;
  background: var(--green);
  border: none;
  margin-block-start: 1.25rem;
  font-weight: 700;
}

/* 체크 영역 */
.check-wrap {
  display: flex;
  justify-content: flex-end;
  margin-block-start: 0.625rem;

  .keep {
    display: flex;
    align-items: center;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  /* 체크박스 아이콘 */
  .checkbox-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-inline-end: 0.3125rem;
    background: url('../images/unchecked.svg') no-repeat center / contain;
  }

  /* 텍스트 스타일 */
  .label-text {
    font-size: 0.875rem;
  }

  /* 체크 상태 */
  #keep-login:checked + .checkbox-label .checkbox-icon {
    background-image: url('../images/checked.svg');
  }

  #keep-login:focus-visible + .checkbox-label .checkbox-icon {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
    border-radius: 50%;
  }

  /* IP 보안 */
  .ip-security {
    display: none;
    align-items: center;
    gap: 0.5rem;

    a {
      color: var(--basic-color);
      font-size: 0.875rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .ip-security-label {
      color: gray;
      font-weight: 500;
      font-size: 0.875rem;
      cursor: pointer;
      .on {
        display: none;
      }
    }

    /* IP 보안 포커스  */
    #ip-security-check:focus-visible + .ip-security-label {
      outline: 2px solid var(--focus-color);
      outline-offset: 2px;
      border-radius: 2px;
    }

    #ip-security-check:checked + .ip-security-label {
      .off {
        display: none;
      }
      .on {
        display: inline;
        color: var(--green);
      }
    }
  }
}

/* 데스크탑 */
@media (width >= 48rem) {
  .login-form {
    width: 500px;
  }
  .check-wrap {
    justify-content: space-between;
    .ip-security {
      display: flex;
    }
  }
}
